<div class="sidebar">

  <ul class="filter-menu nav nav-sidebar" id="accordion">

    <li>

      <a data-category="category1" class="filter-category">
        <b class="caret right-caret"></b> Filter Category 1
      </a>
      <ul data-category="category1" class="sub-filter nav nav-sidebar">
        <li data-filter="filter1">
          <a>
            <input type="checkbox" checked> Filter 1
          </a>
        </li>
        <li data-filter="filter2">
          <a>
            <input type="checkbox" checked> Filter 2
          </a>
        </li>
        <li data-filter="filter3">
          <a>
            <input type="checkbox" checked> Filter 3
          </a>
        </li>
        <li data-filter="filter4">
          <a>
            <input type="checkbox" checked> Filter 4
          </a>
        </li>
      </ul>

      <a data-category="category2" class="filter-category">
        <b class="caret right-caret"></b> Filter Category 2
      </a>
      <ul data-category="category2" class="sub-filter nav nav-sidebar">
        <li data-filter="filter1">
          <a>
            <input type="checkbox" checked> Filter 1
          </a>
        </li>
        <li data-filter="filter2">
          <a>
            <input type="checkbox" checked> Filter 2
          </a>
        </li>
        <li data-filter="filter3">
          <a>
            <input type="checkbox" checked> Filter 3
          </a>
        </li>
        <li data-filter="filter4">
          <a>
            <input type="checkbox" checked> Filter 4
          </a>
        </li>
      </ul>

    </li>

  </ul>

</div>