.line-chart canvas {
  margin: 10px;
}

.line-chart .chart-container {
  margin: 0 auto;
  height: calc(100% - 50px);
  width: calc(100% - 20px);
  background-color: white;
  border-radius: 6px;
}

.line-chart h3 {
  color: white;
  background-color: #333;
  border-radius: 0;
}

.line-chart p {
  color: #333;
  background-color: white;
}