<div class="sidebar">
  <div class="sidebar-separator">
    <strong>DEXTER JS</strong>
  </div>
  <div class="info">
    <span class="glyphicon glyphicon-user" style="font-size: 4em;" aria-hidden="true"></span>
    <span>John Doe</span>
  </div>
  <ul class="nav-menu nav nav-sidebar">
    <li class="active"></span>
    <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
  </ul>
  <ul class="filter-menu nav nav-sidebar" id="accordion">

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <b class="caret right-caret"></b> Filter 1
      </a>
    </li>

    <ul id="collapse1" class="sub-filter nav nav-sidebar collapse">
      <li>
        <a href="#">Sub Filter 1</a>
      </li>
      <li>
        <a href="#">Sub Filter 2</a>
      </li>
      <li>
        <a href="#">Sub Filter 3</a>
      </li>
      <li>
        <a href="#">Sub Filter 4</a>
      </li>
      <li>
        <a href="#">Sub Filter 5</a>
      </li>
    </ul>

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <b class="caret right-caret"></b> Filter 2
      </a>
    </li>

    <ul id="collapse2" class="sub-filter nav nav-sidebar collapse">
      <li>
        <a href="#">Sub Filter 1</a>
      </li>
      <li>
        <a href="#">Sub Filter 2</a>
      </li>
    </ul>

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <b class="caret right-caret"></b> Filter 3
      </a>
    </li>

    <ul id="collapse3" class="sub-filter nav nav-sidebar collapse">
      <li>
        <a href="#">Sub Filter 1</a>
      </li>
      <li>
        <a href="#">Sub Filter 2</a>
      </li>
    </ul>

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        <b class="caret right-caret"></b> Filter 4
      </a>
    </li>

    <ul id="collapse4" class="sub-filter nav nav-sidebar collapse">
      <li>
        <a href="#">Sub Filter 1</a>
      </li>
      <li>
        <a href="#">Sub Filter 2</a>
      </li>
      <li>
        <a href="#">Sub Filter 3</a>
      </li>
      <li>
        <a href="#">Sub Filter 4</a>
      </li>
      <li>
        <a href="#">Sub Filter 5</a>
      </li>
      <li>
        <a href="#">Sub Filter 6</a>
      </li>
    </ul>

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        <b class="caret right-caret"></b> Filter 5
      </a>
    </li>

    <ul id="collapse5" class="sub-filter nav nav-sidebar collapse">
      <li>
        <a href="#">Sub Filter 1</a>
      </li>
      <li>
        <a href="#">Sub Filter 2</a>
      </li>
    </ul>

  </ul>
</div>