<script>
    function loadScript(src,callback){
  
    var script = document.createElement("script");
    script.type = "text/javascript";
    if(callback)script.onload=callback;
    document.getElementsByTagName("head")[0].appendChild(script);
    script.src = src;
  }
  
  loadScript('http://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initialize');


function initialize() {
	var mapOptions = {
	                    // How zoomed in you want the map to start at (always required)
	                    zoom: 11,

	                    // The latitude and longitude to center the map (always required)
	                    center: new google.maps.LatLng(40.6700, -73.9400), // New York
		mapTypeControl: false,
	                    // How you would like to style the map. 
	                    // This is where you would paste any style found on Snazzy Maps.
	                    styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
	                };
    
    map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);
  }
</script>


</pre><div id="map_canvas" style="width: 100%; height: 100%"></div><pre></pre>