.bar-chart canvas {
  margin: 10px;
}

.bar-chart .chart-container {
  height: calc(100% - 50px);
  margin: 10px;
  background-color: white;
  border-radius: 6px;
}

.bar-chart h3 {
  color: white;
  background-color: #333;
  border-radius: 0;
}

.bar-chart p {
  color: #333;
  background-color: white;
}