
	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<class="tile-content">
		<div class="chart-container">
			<span class="no-data-label">No Data</span>
		</div>
	</div>