.no-data-label {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 25px);
  color: #333;
}

#node-view {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  cursor: pointer;
}

#cy {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}

#cy canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#node-view .no-data-label {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 25px);
	color: #333;
}

#node-view .btn-container {
  position: absolute;
  top: 10px;
  left: calc(50% - 44px);
}

#node-view .btn-container .btn {
  /*width: 10px;*/
}

#node-view .dropdown {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

#node-view .dropdown .btn {
  width: 110px;
}

#node-view .dropdown .dropdown-menu {
  min-width: 110px;
}

#node-view .btn-container span {
  /*margin-right: 8px;*/
}

#node-view textarea { 
  resize: none; 
}

#node-view .top-right-container {
  position: absolute;
  top: 10px;
  right: -210px;
  border-radius: 4px;
  background-color: white;
  color: #333;
  /*max-height: calc(100% - 20px);*/
  display: none;
  width: 200px;
}

#node-view .top-right-container .table-container {
  width: 100%;
  border-radius: 2px;
}

#node-view .top-right-container .table-body-container {
  width: 100%;
  height: calc(100% - 36px);
  overflow: auto;
  border-radius: 0px 0px 2px 2px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#node-view .top-right-container .table>tbody>tr>th {
  border-top: 0px;
  color: white;
}

#node-view .top-right-container .table.table-header{
  margin: 0px;
  width: 100%;
  /*background-color: #4884b8;*/
  background-color: #333;
  color: white;
}

#node-view .top-right-container .table.table-body{
  margin: 0px;
  width: 100%;
}

#node-view .top-right-container th, 
#node-view .top-right-container td  {
  text-align: left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#node-view .top-right-container tbody {
  color: #333;
}

#node-view .top-right-container .table-body tr:last-child {
  /*border-bottom: 1px solid #ddd; */
}

#node-view .bottom-left-container {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  /*height: 34px;*/
  width: 120px;
}

#node-view .bottom-left-container .legend-content {
  /*display: none;*/
}

#node-view .bottom-left-container .legend-row {
  margin-bottom: 6px;
  height: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#node-view .bottom-left-container .legend-row:last-child {
  margin-bottom: 8px;
}

#node-view .bottom-left-container .legend-edge {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-right: 8px;
  margin-top: -4px;
  font-size: 20px;
  color: gray;
}

#node-view .bottom-left-container .legend-node {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 10px;
  border-radius: 10px;
  border: 4px solid gray;
}

#node-view .bottom-left-container .legend-node-label,
#node-view .bottom-left-container .legend-edge-label {
  float: left;
  margin-right: 8px;
}

#node-view .bottom-left-container hr {
  margin-top: 8px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

#node-view .bottom-left-container .legend-label {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #ccc;
}
#node-view .bottom-left-container .legend-label:hover {
  background-color: #ebebeb;
}

#node-view .bottom-left-container .caret {
  margin-left: 6px;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}