
<div class="deckster-deck">
    <deckster-deck deck-cards="cards" deck-options="mainDeckOptions"></deckster-deck>
</div>

<link rel="stylesheet" href="lib/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="lib/vendor/gridster/jquery.gridster.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="lib/vendor/DecksterJS/dist/jquery.deckster.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="lib/vendor/DecksterJS/stylesheets/angular/main.css" type="text/css" media="screen" title="no title" charset="utf-8">