/*
 * Base structure
 */

/*.gridster * {
  margin:0;
  padding:0;
}*/

.gridster ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nvtooltip {
  z-index: 9000;
}

.tile h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*.controls {
  margin-bottom: 20px;
}*/

.gridster ul {
  background-color: white;
}

.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  border-radius: 6px;
}


.gridster {
/*  margin: 0 auto;*/

  opacity: .8;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.gridster .gs-w {
  /*background: #DDD;*/
  cursor: pointer;
}

.gridster .player {
  /*background: #BBB;*/
}

.gridster .preview-holder {
  border: none!important;
  background: red!important;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.main-navbar {
  background-color: #2b3643;
  color: #b4bcc8;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #2b3643;
  border: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #b4bcc8;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  background-color: #2b3643;
  color: #b4bcc8;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #364150;
  color: #b4bcc8;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #1caf9a;
}

.navbar-inverse .navbar-nav #profile {
  margin-right: 15px;
}

.panel-group {
  border-top: 1px solid #ddd;
  margin-bottom: 0;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #ddd;
}
.panel-group .panel+.panel {
  margin-top: 0px; 
}
.panel-heading {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.tile {
  color: white;
  display: inline-block;
  text-align: center;
}

.deckster-card.red h2,
.deckster-card.red .deckster-card-control,
.deckster-card.green h2,
.deckster-card.green .deckster-card-control,
.deckster-card.purple h2,
.deckster-card.purple .deckster-card-control,
.deckster-card.blue h2,
.deckster-card.blue .deckster-card-control,
.deckster-card.orange h2,
.deckster-card.orange .deckster-card-control {
	background: none;
	border-bottom: none;
	color: white;
	text-align:center;
}

.deckster-card.red .deckster-card-title ,
.deckster-card.green .deckster-card-title ,
.deckster-card.purple .deckster-card-title ,
.deckster-card.blue .deckster-card-title ,
.deckster-card.orange .deckster-card-title{
	text-align: center;
	left: -5px;
}

.deckster-card.red .deckster-card-header,
.deckster-card.green .deckster-card-header,
.deckster-card.purple .deckster-card-header,
.deckster-card.blue .deckster-card-header,
.deckster-card.orange .deckster-card-header {
	background: none;
	border-bottom: none;
	color: white;
}

.green{
	background-color: #0aa699;
}
.fill-green{
  fill: #0aa699;
}
.dark-green{
  background-color: #098e83;
}
.fill-dark-green{
  fill: #098e83;
}
.light-green{
  background-color: #0bbeaf;
}
.fill-light-green{
  fill: #0bbeaf;
}


.blue{
	background-color: #4884b8;
}
.fill-blue{
  fill: #4884b8;
}
.dark-blue{
  background-color: #4077a6;
}
.fill-dark-blue{
  fill: #4077a6;
}
.light-blue{
  background-color: #5a90bf;
}
.fill-light-blue{
  fill: #5a90bf;
}

.orange{
  background-color: #FFA14F;
}
.fill-orange{
  fill: #FFA14F;
}
.dark-orange{
  background-color: #ff9336;
}
.fill-dark-orange{
  fill: #ff9336;
}
.light-orange{
  background-color: #ffaf69;
}
.fill-light-orange{
  fill: #ffaf69;
}

.purple{
	background-color: #7c699f;
}
.fill-purple{
  fill: #7c699f;
}
.dark-purple{
  background-color: #6f5d91;
}
.fill-dark-purple{
  fill: #6f5d91;
}
.light-purple{
  background-color: #8a79a9;
}
.fill-light-purple{
  fill: #8a79a9;
}

.red{
  background-color: #e04a49;
}


.fill-red{
  fill: #e04a49;
}
.dark-red{
  background-color: #dc3433;
}
.fill-dark-red{
  fill: #dc3433;
}
.light-red{
  background-color: #e4605f;
}
.fill-light-red{
  fill: #e4605f;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

/* 
 * Sidebar navigation
 */
.nav-sidebar {
  width: 180px;
  background-color: #364150;
  color: #b4bcc8;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #b4bcc8;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #1caf9a;
}

.nav-menu {
  border-bottom: 1px solid #ddd;
}

.sub-filter > li > a {
  padding-right: 20px;
  padding-left: 55px;
}

.sidebar .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  width: 0;
  margin-right: 5px;
  margin-bottom: 3px;
}

.sidebar .right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  margin-right: 5px;
}

/*@media (max-width: 999px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/

@media (min-width: 1000px) {
  /*.middle-container {
    margin-left: 180px;
    width: calc(100% - 180px);
  }*/
  /*.sidebar {
    position: fixed;
    width: 180px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #364150;
    border-right: 1px solid #ddd;
  }*/
}
