<div class="middle-container">
  <div class="tile-container">

    <div class="tile blue">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile purple">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile green">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile green">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile blue">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile purple">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile green">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile green">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile blue">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile blue">
      <h4>Label</h4>
      <span>Something else</span>
    </div>

    <div class="tile purple">
      <h4>Label</h4>
      <span>Something else</span>
    </div>


  </div>
</div>