<link rel="stylesheet" href="../../../lib/vendor/gridster/jquery.gridster.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/middle-container.css" type="text/css" >

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
      <h1 class="page-header">Dashboard</h1>
		<div class="gridster">
		    <ul>
		      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" data-template="weather" class="green"></li>
		      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" data-template="status" class="blue"></li>
		      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" data-template="slider1" class="purple"></li>
		      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" class="red"></li>
		      <li data-row="2" data-col="1" data-sizex="2" data-sizey="3" data-template="map"></li>
		      <li data-row="2" data-col="2" data-sizex="2" data-sizey="3" data-template="chart" class="white"></li>
		      <li data-row="3" data-col="1" data-sizex="1" data-sizey="3"></li>
		      <li data-row="3" data-col="2" data-sizex="3" data-sizey="3"></li>		  
		    </ul>
		  </div>
    </div>
  </div>
</div>
