<link rel="stylesheet" href="../../../lib/vendor/gridster/jquery.gridster.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/middle-container.css" type="text/css" >

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
		<div class="gridster">
		    <ul>
		      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="tile green">0</li>
		      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">1</li>
		      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">2</li>
		      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">4</li>
		      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">4</li>
		      <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">5</li>
		      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">6</li>
		      <li data-row="3" data-col="2" data-sizex="3" data-sizey="1">7</li>		  
		    </ul>
		  </div>
    </div>
  </div>
</div>