<div class="tile green">
	<span data-tile-fullscreen="true" class="glyphicon glyphicon-resize-full pull-right" style="margin: 5px;" aria-hidden="true"></span>
	<span data-tile-visible="true" class="glyphicon glyphicon-remove-sign pull-right" style="margin: 5px;" aria-hidden="true"></span>
</div>