<div class="tile parent">
	<span data-tile-fullscreen="true" class="glyphicon glyphicon-resize-full" 
	style="right: 5px; margin: 5px; position:absolute; z-index:9999;" aria-hidden="true"></span>
	<span data-tile-visible="true" class="glyphicon glyphicon-remove-sign" 
	style="right: 25px;margin: 5px; position:absolute; z-index:9999;" aria-hidden="true"></span>
</div>