	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<div class="tile-content">
		<div class="info">
			<svg viewBox="-1 -1 141 141">
				<text x="70" y="105" font-size="90px" fill="white" text-anchor="middle">
					{{info}}
				</text>
			</svg>
		</div>
		<span class="description">{{description}}</span>
	</div>