.info-block .tile-content-container {
	text-align: center;
	margin: 0 auto;
	padding: auto;
	width: calc(100% - 20px);
	height: calc(100% - 50px);
	overflow: hidden;
}

.info-block .info {
	display: inline-block;
	width: calc(100% - 20px);
	height: calc(100% - 50px);
	text-align: center;
	margin-bottom: 20px;
	line-height: 20px;
	font-size: 20px;
}

.resize-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 25px;
	width: 20px;
}

@media (min-width: 800px) {
  .info-block .info {
    line-height: 40px;
	font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .info-block .info {
    line-height: 60px;
	font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .info-block .info {
    line-height: 80px;
	font-size: 80px;
  }
}