.info-and-pie .tile-content-container {
	display: inline-block;
	text-align: center;
	width: calc(100% - 20px);
	height: calc(100% - 65px);
}

.info-and-pie .info {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: calc(50% - 10px);
	text-align: center;
}

.info-and-pie .info svg {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: calc(50% - 20px);
	text-align: center;
}

.info-and-pie .pie-chart-container {
	display: inline-block;
	text-align: center;
	height: 100%;
	width: calc(50% - 10px);
}

.info-and-pie .chart-container {
	display: inline-block;
	margin-top: 10px;
}

.info-and-pie .pie-chart-legend {
	display: inline-block;
	/*float: left;*/
	width: 100%;
	/*border: white solid 1px;*/
	border-radius: 6px;
	overflow: hidden;
}

.info-and-pie .pie-chart-legend span {
	display: inline-block;
 	font-size: 1em;
	font-weight: normal;
	text-align: center;
	line-height: 100%;
	border-radius: 6px;
	padding: 5px;
	margin: 1px;
}

.resize-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 25px;
	width: 20px;
}
