
	<div class="tile-content">
		<div class="map-container">
			<iframe id="embed-map" src="{{mapURL}}"></iframe>
			<iframe id="embed-map-full" src="https://meridianjs.com:3000/"></iframe>
			<span class="loading-label">Loading...</span>
		</div>
	</div>