.bar-chart {
  height: 330px;
  width: 590px;
}

.bar-chart svg {
  width: 550px;
  height: 300px;
}

.bar-chart .nvd3 .nv-x.nv-axis line {
  stroke: none;
  fill: none;
}

.bar-chart .chart-container {
  height: 280px;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
}