.bar-chart {
  height: 100%;
  width: 100%;
}

.bar-chart svg {
  width: 100%;
  height: 100%;
}

.bar-chart .nvd3 .nv-x.nv-axis line {
  stroke: none;
  fill: none;
}

.bar-chart .chart-container {
  height: calc(100% - 50px);
  margin: 10px;
  background-color: white;
  border-radius: 6px;
}

.bar-chart h3 {
  color: white;
  background-color: #333;
  border-radius: 0;
}

.bar-chart p {
  color: #333;
  background-color: white;
}