.percent-ring {
	width: 290px;
}

.percent-ring .percent-ring-container {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	text-align: center;
	margin-top: 40px;
}

.percent-ring .description {
	margin-top: 5px;
}

.percent-ring .light {
	fill: white;
}