.percent-ring {
	width: 100%;
}

.percent-ring .percent-ring-container {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 70%;
	text-align: center;
	margin-top: 20px;
}

.percent-ring .light {
	border: 1px solid white;
}

.resize-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 25px;
	width: 20px;
}