/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .main-navbar .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

  .navbar-form {
    width: calc(100% - 390px);
  }

  .navbar-form .form-group {
    width: 100%;
  }

  .navbar-form .form-control {
    width: 100%;
  }
}


.panel-group {
  border-top: 1px solid #ddd;
  margin-bottom: 0;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #ddd;
}
.panel-group .panel+.panel {
  margin-top: 0px; 
}
.panel-heading {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.tile {
  color: white;
  margin: 5px;
  border-radius: 6px;
  float: left;
  display: inline-block;
  text-align: center;
  height: 330px;
  width: 590px;
}

.tile-sm {
	height: 240px;
  width: 240px;
}

.tile-lg {
  height: 490px;
  width: 490px;
}

.tile-tall {
  height: 490px;
  width: 240px;
}

.tile-wide {
  height: 240px;
  width: 490px;
}

.green{
	background-color: #0aa699;
}

.blue{
	background-color: #0090d9;
}

.purple{
	background-color: #735f87;
}

.dark-green{
  fill: #0A867C;
  background-color: #0A867C;
}

.dark-blue{
  fill: #006DA5;
  background-color: #006DA5;
}

.dark-purple{
  fill: #554662;
  background-color: #554662;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

/* 
 * Sidebar navigation
 */
.nav-sidebar {
  width: 180px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-menu {
  border-bottom: 1px solid #ddd;
}

.sub-filter > li > a {
  padding-right: 20px;
  padding-left: 55px;
}

.sidebar .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  width: 0;
  margin-right: 5px;
  margin-bottom: 3px;
}

.sidebar .right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  margin-right: 5px;
}

.middle-container {
  float: left;
  display: inline-block;
}

.tile-container {
  margin-right: auto;
  margin-left: auto;
}

/**
 * Responsive Style Overrides
 * Note - the width calc depends on the sidebar width.
 */
/*@media (max-width: 499px) {
  .middle-container {
    margin-left: auto;
    width: 100%;
  }
  .tile-container {
      width: 250px;
  }
}*/
@media (min-width: 600px) {
  .middle-container {
    margin-left: auto;
    width: 100%;
  }
  .tile-container {
      width: 600px;
  }
}
@media (min-width: 768px) {
  .middle-container {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
  .tile-container {
    width: 600px;
  }
  .sidebar {
    position: fixed;
    width: 180px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
  }
}
/*@media (min-width: 930px) {
  .tile-container {
    width: 750px;
  }
}*/
@media (min-width: 1380px) {
  .tile-container {
    width: 1200px;
  }
}
/*@media (min-width: 1430px) {
  .tile-container {
    width: 1250px;
  }
}*/
/*@media (min-width: 1680px) {
  .tile-container {
    width: 1800px;
  }
}*/
/*@media (min-width: 1930px) {
  .tile-container {
    width: 1750px;
  }   
}*/
/*@media (min-width: 2180px) {
  .tile-container {
    width: calc(100% - 180px);
  }
}*/
