<div class="middle-container gridster">
  	<ul>
        {{!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>

        <li data-row="2" data-col="1" data-sizex="2" data-sizey="1"></li>
        <li data-row="2" data-col="1" data-sizex="2" data-sizey="1"></li> --}}
    </ul>
</div>