<div id="{{id}}" class="tile table-tile {{color}}">
	<h4>{{title}}</h4>
	<div class="table-container">
		<table class="table table-header">
	        <tr class="dark-{{color}}">
	            <th>Item ID</th>
	            <th>Item Name</th>
	            <th>Item Price</th>
	        </tr>
	    </table>
		<div class="table-body-container">
		    <table class="table table-body">
		    	<tr>
		            <td>1</td>
		            <td>Item 1</td>
		            <td>$1.00</td>
		        </tr>
		        <tr>
		            <td>2</td>
		            <td>Item 2</td>
		            <td>$214.40</td>
		        </tr>
		        <tr>
		            <td>3</td>
		            <td>Item 3</td>
		            <td>$3.00</td>
		        </tr>
		        <tr>
		            <td>4</td>
		            <td>Item 4</td>
		            <td>$3.00</td>
		        </tr>
		        <tr>
		            <td>5</td>
		            <td>Item 5</td>
		            <td>$31.50</td>
		        </tr>
		        <tr>
		            <td>6</td>
		            <td>Item 6</td>
		            <td>$2.00</td>
		        </tr>
		        <tr>
		            <td>4</td>
		            <td>Item 4</td>
		            <td>$3.00</td>
		        </tr>
		        <tr>
		            <td>5</td>
		            <td>Item 5</td>
		            <td>$31.50</td>
		        </tr>
		        <tr>
		            <td>6</td>
		            <td>Item 6</td>
		            <td>$2.00</td>
		        </tr>
		        <tr>
		            <td>4</td>
		            <td>Item 4</td>
		            <td>$3.00</td>
		        </tr>
		        <tr>
		            <td>5</td>
		            <td>Item 5</td>
		            <td>$31.50</td>
		        </tr>
		        <tr>
		            <td>6</td>
		            <td>Item 6</td>
		            <td>$2.00</td>
		        </tr>
			</table>
		</div>
	</div>
</div>