<div id="{{id}}" class="tile table-tile {{color}}">
	<h4>{{title}}</h4>
	<div class="table-container">
		<table class="table table-header">
	        <tr class="dark-{{color}}">
	        </tr>
	    </table>
		<div class="table-body-container">
		    <table class="table table-body">
			</table>
		</div>
	</div>
</div>