
	<div class="tile-content">
		<div id="{{id}}" class="map map-container">
			<div id="embed-map"></div>
			<span class="loading-label">Loading...</span>
			<div class="featureInfo">
				<span class="properties">
					Hover over a country
				</span>
			</div>
			<div class="map-legend">
				<div class="color-box">0 - 10</div>
				<div class="color-box">11 - 1,000</div>
				<div class="color-box">1,001 - 100,000</div>
				<div class="color-box">&gt; 100,000</div>
			</div>
		</div>
	</div>