<nav role="navigation" class="main-navbar navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{!-- <a href="#" class="sidebar-control">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </a> --}}
    <a href="#" class="navbar-brand">
      Application Name
    </a>
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul id="tabs" class="nav navbar-nav">
      {{!-- <li class="active"><a id="tab1" href="#">Dashboard 1</a></li> --}}
      <li class="active"><a id="tab2" href="#">Dashboard 1</a></li>
      <li><a id="tab3" href="#">Dashboard 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="profile" href="#">
          <span class="glyphicon glyphicon-user" style="padding-right:5px;" aria-hidden="true"></span>
          Profile
        </a>
      </li>
    </ul>
  </div>

</nav>