<div class="tile-content">
	<div id="{{id}}" class="table-container">
		<table class="table table-header">
	        <tr class="dark-{{color}}">
	        	<th>Key</th>
	        	<th>Value</th>
	        </tr>
	    </table>
		<div class="table-body-container">
		    <table class="table table-body">
		    	<span class="no-data-label">No Data</span>
			</table>
		</div>
	</div>
</div>