.percent-ring-container {
	margin-left: auto;
	margin-right: auto;
	height: calc(100% - 30px);
	text-align: center;
	margin-bottom: 10px;
}

.percent-ring-container svg {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	text-align: center;
}

.dark {
	fill: white;
}