.pie-chart {
	width: 290px;
}

.pie-chart .chart-container {
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	height: 280px;
	background-color: white;
  	border-radius: 6px;
}

.pie-chart svg {
	width: 270px;
	height: 280px;
}