<li id="{{id}}" class="pie-chart tile {{color}}" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<div class="chart-container">
		<svg></svg>
	</div>
</li>